@font-face {
  src: url("../../assets/Azonix-1VB0.otf");
  font-family: 'Azonix';
}
.header {
  position: fixed;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;

  &__button-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
  }

  &__logo-container {
    height: 78px;
    width: 70px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 100%;
    margin-right: 30px;
  }

  &__logo-text {
    color: #f07f1c;
    margin: 0 0 -10px;
    font-size: 40px;
    font-family: 'Azonix', serif;
    text-transform: uppercase;
  }
}
